.git
.gitignore
.github
.pnpm-store
node_modules
**/node_modules
**/.output
**/dist
**/coverage
target
**/target
.wrangler
.vercel
*.tsbuildinfo
*.log
pnpm-debug.log*
.env
.env.*
**/.env
**/.env.*
docs
examples
work
README*
AGENTS.md
